body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(244, 242, 237);
}

/* header-section start */
header {
    align-items: center;
    margin: 50px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: wheat;
    padding: 40px;
    border-radius: 30px;
}

.banner img {
    margin-left: 80px;
}

.banner img:hover {
    transform: scale(1.3);
    transition: 3s;
}

.title-part a {
    padding: 10px;
    background-color: rgb(240, 33, 33);
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
}

.title {
    font-size: 35px;
}

/* header section end */



/* main section start for ancor  */

.matchs {
    margin: 50px;
}

.match-main {
    display: flex;
    justify-content: space-around;
}

.ancor {
    width: 250px;
    height: 160px;
    background-color: black;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ancor a {
    padding: 10px 50px;
    background-color: white;
    color: rgb(240, 33, 33);
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;

}

/* main section end for ancor  */


/* main match item start */

.all-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.all {
    border: 1px solid black;
    border-radius: 10px;
    width: 240px;
    margin-left: 10px;
}

.flags {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.flags img {
    width: 80px;
    margin-top: 20px;
}

.next {
    width: 230px;
    padding: 0 10px 0 10px;
    margin-right: 0;
    text-align: center;
}

.next p {
    font-size: 10px;
}


.next h4 {
    margin-bottom: 0px;
    font-size: 18px;
}

/* main match item end */

/* view all start */
.view-all button {
    padding: 10px 50px;
    background-color: rgb(240, 33, 33);
    color: white;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.view-all {
    text-align: center;
    margin: 20px;
}

/* view all end */


/* footer section start */
.footer-main {
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-part {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.footer-icon {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    font-size: 10px;
}

.footer a {
    background-color: white;
    color: blue;
    font-weight: 800;
    font-size: 15px;
    margin: 5px;
}

/* footer section end */


/* hr line start */
hr {
    border: 1px solid white;
}

/* hr line end */


@media only screen and (max-width:688px) {
    .banner {
        flex-direction: column;
    }
}


/* mobile flex start */

@media only screen and (max-width:688px) {
    .all-item {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .match-main {
        flex-direction: column;
    }

    .ancor {
        margin-bottom: 30px;
    }

    .banner img {
        margin-top: 20px;
        width: 250px;
        height: 300px;
    }

    .title {
        font-size: 19px;
    }

    .footer-icon {
        flex-direction: column;
    }

    .view-all {
        display: none;
    }

}

/* mobile flex end */


/* tablet flex start */
@media only screen and (min-width:688px) and (max-width:992px) {
    .all-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .match-main {
        flex-direction: column;
    }

    .ancor {
        margin-bottom: 30px;
    }
}

/* tablet flex end */


@media only screen and (min-width:992px) {
    .view-all {
        display: none;
    }
}